.query-results {
	border: solid black 0.3em;
	width: 480px;
	height: 640px;
	overflow-y: auto;
}

.portal-item {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	display: table-row;
}

.portal-item h1 {
	font-size: 1.2em;
	padding: 0.2em;
	margin: 0.2em;
}

.thumb, .text {
	display: table-cell;
}

.thumb img {
	width: 200px;
	height: 133px;
}
.text
{
    vertical-align: top;
}
