.query-results {
	border: solid black 0.3em;
	width: 480px;
	height: 640px;
	overflow-y: auto;
}

.portal-item {
	border-bottom-width: 0.1em;
	border-bottom-style: solid;
	border-bottom-color: #EBEBEB;
	margin: 0.5em;
	padding: 0.2em;
}

.portal-item h1 {
	font-size: 1.2em;
	padding: 0.2em;
	margin: 0.2em;
}

.thumb, .text {
	display: table-cell;
}

.thumb img {
	width: 200px;
	height: 133px;
}
.text
{
	vertical-align: top;
}
